body{
  margin: 0;
  background-image: url("img/img_back.png");
  font-family: Helvetica;
  user-select: none;
}

header{
  width: 1519px;
}

header > img{
  width: 1519px;
  height: 797px;
  vertical-align: bottom;
}

.header{
  height: 300px;
  background:black;
  color: #fff;
}

.foo{
  width: 500px;
  margin: 20px auto;
  margin-top:0;
  text-align: center;
}

.official img{
  height: 60px;
  width: auto;
  cursor: pointer;
  float: right;
  margin-right: 350px;
}

.sns_app{
  display: flex;
  padding-top:20px ;
  justify-content: space-around;
}

.header p {
  margin:0;
  padding:80px 0 20px 0;
  border-bottom:5px  dotted rgb(158, 143, 109) ;
  font-family: 'Segoe UI',sans-serif;
}

.app img{
  width: 160px;
  height: 46px;
  margin-right:17px;
}

.share img{
  width: 30px;
  margin-left: 7px;
  margin-top: 4px;
}

.app img:hover,
.share img:hover,
.official img:hover{
  opacity: 0.7;
}

.images{
  width: 1000px;
  margin:0 auto;
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color:#fff;
  font-size:12px;
  margin-bottom:100px;
}

.images img{
  width: 220px;
  height: 220px;
  margin-bottom:10px;
}

.foo2{
  width: 330px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.medal{
  width:180px;
  color: silver;
  font-family: 'Segoe UI',sans-serif;
}

i{
  font-size:25px;
  margin-right: 5px;
}

.medal span{
  font-size:25px;
  margin: 0 10px;
}

.bet{
  padding-top:5px;
  color: rgb(131, 130, 130);
}

.bet i{
  font-size:18px;
  margin-left:5px;
  cursor: pointer;
}

.top{
  margin-top:30px;
  display: flex;
  justify-content:space-between;
}


.top button{
  margin-right: 100px;
  cursor: pointer;
}

.slot{
  display: flex;
}

.hidden_box{
  margin:30px 0;
  margin-bottom:0;
  margin-right: 10px;
  width: 255px;
  padding:0;
}

.hidden_box label{
  font-size:30px;
  color: rgb(158, 143, 109);
  cursor :pointer;
}

.hidden_box label span{
  color:#fff;
  font-size:16px;
  margin:0 10px;
}

.hidden_box label:hover,
footer a:hover{
  opacity: 0.8;
}

.hidden_box input {
  display: none;
}

.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
  color: #fff;
}

.hidden_show ul{
  margin:0;
  padding: 0;
}

.hidden_show li{
  border-bottom: 1px solid  rgb(206, 192, 162);
}

.hidden_show p{
  font-size: 12px;
}

.hidden_box input:checked ~ .hidden_show {
  padding: 5px 0;
  height: auto;
  opacity: 1;
}

main{
  width: 940px;
  height: 450px;
  background-color: rgb(206, 192, 162);
  margin:30px 10px 0 286px;
  margin-bottom:0;
  display: flex;
  justify-content: space-around;
}

section{
  margin-top:30px
}

.panel img{
  width: 280px;
  background-color: black;
  border: 7px double rgb(158, 143, 109);
}

.stop{
  background:rgb(119, 103, 103);
  color:#fff;
  width: 170px;
  height: 50px;
  margin:10px auto;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  box-shadow: 0 4px rgb(58, 52, 52);
  cursor: pointer;
  user-select: none;
}

.stop:active{
  transform: translateY(2px);
  box-shadow: 0 2px rgb(58, 52, 52);
}

.spin{
  background:rgb(26, 41, 73);
  color: #fff;
  width: 300px;
  height: 50px;
  margin:35px auto;
  margin-bottom: 10px;
  text-align:center;
  line-height: 50px;
  border:4px double rgb(158, 143, 109);
  box-shadow: 0 4px rgb(12, 24, 49);
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
}

.special{
  width: 1400px;
  margin:0 auto;
  display:flex;
}

.spImg{
  align-self: center;
  display: block;
  /* width: 900px; */
  width: 70%;
}

.spText{
  align-self: center;
  display: block;
  /* height: 700px; */
  width: 15%;
}

.spIcon{
  /* width: 250px; */
  width: 15%;
  display: block;
  align-self: flex-start;
}

footer{
  height: 180px;
  background:black;
  color:rgb(199, 197, 197);
  text-align: center;
  padding-top:50px;
  font-size:14px;
  margin-top:150px;
}

footer a{
  text-decoration: none;
  color:rgb(199, 197, 197);
  display: inline-block;
}

footer span{
  font-size:25px;
  color: rgb(158, 143, 109);
  cursor :pointer;
  margin: 0 8px;
}

.inactive{
  opacity: 0.8;
}
